.main
  .container
    .container__column
      .container__column--body
        .timeline
          .timeline__itemWrapper
            .timeline__itemWrapper--item
              .textNote
                = link_to "#", class: "textNote__link" do
                  .textNote__link--body
                    .body__image
                      = image_tag "/assets/top-718x478.jpg", class: "body__image--show"
                    .body__title
                      %p コロナに気をつけて
                    .body__description
                      %p マスク息苦しいマスク息苦しいマスク息苦しいマスク息苦しいマスク息苦しいマスク息苦しいマスク息苦しいマスク息苦しいマスク息苦しいマスク息苦しいマスク息苦しいマスク息苦しいマスク息苦しいマスク息苦しいマスク息苦しいマスク息苦しい助けて助けて助けて助けて助けて助けてお願いお願いお願いお願いお願いお願い
                  .textNote__link--status
                    .status__item
                      .status__item--icon
                        = icon("far", "thumbs-up", class: "icon-like")
                      .status__item--number
                        %p 16
                .textNote__footer
                  .textNote__footer--user
                    = link_to "#", class: "user__link" do
                      .user__link--icon
                        -# = image_tag "#", class: "user__icon" do
                      .user__link--name
                        %p matsufuji
                      .user__link--post-time
                        %p 6時間前
                  .textNote__footer--action
                    .action__item
                      .action__item--like
                        = icon("far", "thumbs-up", class: "icon-like")
            .timeline__itemWrapper--item
              .textNote
                = link_to "#", class: "textNote__link" do
                  .textNote__link--body
                    .body__image
                      = image_tag "/assets/top-718x478.jpg", class: "body__image--show"
                    .body__title
                      %p コロナに気をつけて
                    .body__description
                      %p マスク息苦しいマスク息苦しいマスク息苦しいマスク息苦しいマスク息苦しいマスク息苦しいマスク息苦しいマスク息苦しいマスク息苦しいマスク息苦しいマスク息苦しいマスク息苦しいマスク息苦しいマスク息苦しいマスク息苦しいマスク息苦しい助けて助けて助けて助けて助けて助けてお願いお願いお願いお願いお願いお願い
                  .textNote__link--status
                    .status__item
                      .status__item--icon
                        = icon("far", "thumbs-up", class: "icon-like")
                      .status__item--number
                        %p 16
                .textNote__footer
                  .textNote__footer--user
                    = link_to "#", class: "user__link" do
                      .user__link--icon
                        -# = image_tag "#", class: "user__icon" do
                      .user__link--name
                        %p matsufuji
                      .user__link--post-time
                        %p 6時間前
                  .textNote__footer--action
                    .action__item
                      .action__item--like
                        = icon("far", "thumbs-up", class: "icon-like")
      .container__column--sub

